.contacts {
  background-color: @white;

  &__wrapper {
    margin: 0 auto;
    width: 280px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &__heading {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;
    color: @blue;
  }

  &__item {
    text-align: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subheading {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }

  &__link {
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    color: @pink;
  }

  &__adress {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    color: @pink;
  }
}
