.prices {
  background-color: @light-grey;
  padding-bottom: 50px;
}

.prices__wrapper {
  .wrapper();
}

.prices__table {
  border-collapse: collapse;
}

.prices__table-head-cell {
  background-color: @blue;
  padding-top: 20px;
  padding-bottom: 35px;
}

.prices__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: @white;
}

.prices__value {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @white;
}

.prices__table-cell {
  padding: 25px 20px;
  text-transform: uppercase;
  background: @white;
}

.prices__toggles {
  text-align: center;
}
