.reviews {
  &__wrapper {
    width: 280px;
    margin: 0 auto;
    padding-top: 50px;
  }

  &__item {
    margin: 0;
    text-align: center;
  }

  &__author .author__name {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
  }

  &__author .author__info {
    display: none;
  }

  &__text {
    color: @blue;
  }

  &__toggles {
    text-align: center;
  }
}
