.page__body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @blue;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@import "variables.less";
@import "fonts.less";
@import "mixins.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/download.less";
@import "blocks/features.less";
@import "blocks/reviews.less";
@import "blocks/prices.less";
@import "blocks/contacts.less";
@import "blocks/map.less";
@import "blocks/page-footer.less";
@import "blocks/social.less";
@import "blocks/copyright.less";
